/* Vendors Module */

.lp-vendor-block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;

    .lp-vendor-left-column {
        flex-basis: calc(100% / 3 * 2);

        .lp-vendor-list, .lp-vendor-pick .lp-vendor-content {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;

            .lp-vendor {
                position: relative;
                background: #333;
                flex-basis: 50%;
                flex-shrink: 0;
                height: 100px;
                overflow: hidden;
                cursor: pointer;

                .lp-vendor-image img {
                    transition: 300ms ease;
                    filter: opacity(50%);
                    transform: scale(1);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .lp-title {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    text-shadow: 0 0 8px #000;
                    text-align: center;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    .lp-title-flex {
                        font-size: 24px;
                        font-weight: bold;
                    }
                }

                &:hover {
                    background: #222;

                    .lp-vendor-image img {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .lp-vendor-pick .lp-vendor-content {
            margin-bottom: 1em;
        }

        .lp-vendor-item {
            .lp-table-name {
                font-size: 1.2em;
            }
            .lp-description {
                margin-bottom: 1em;
            }

            .lp-vendor-image img {
                width: 100%;
                height: auto;
            }
        }
    }

    .lp-vendor-right-column {
        flex-basis: calc(100% / 3);

        svg {
            width: 100%;
            margin: 1em;
        }

        path:not(.clickable) {
            pointer-events: none;
        }

        path.clickable {
            cursor: pointer;

            &.active {
                animation: lp-pulse 1s infinite ease-in-out;
            }
        }

        path:not(.text) {
            border: solid 2px #fff;
            stroke: #fff;
            stroke-width: 1px;
            stroke-linejoin: round;
        }
    }
    .lp-btn-back:hover, .lp-btn-back:active {
        background-color: #ff8a00;
    }
}

.color-picker-wrapper {
    .wp-picker-open + .wp-picker-input-wrap {
        display: block;
    }
}

.lp-color-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.lp-color-preview-text {
    vertical-align: super;
}

@media screen and (max-width: 1024px){
    .lp-vendor-block {
        display: block;
    }
}

@media screen and (max-width: 768px){
    .lp-vendor-block .lp-vendor-left-column {
        .lp-vendor-list, .lp-vendor-pick .lp-vendor-content {
            display: block;
        }
    }
}

@keyframes lp-pulse {
    0% {
        fill: #000000;
    }
    50% {
        fill: #ff8a00;
    }
    100% {
        fill: #000000;
    }
}

@import "_efnw-events.scss";